body  {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(-135deg, #404040 0%, #141414 100%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary-text  {
  font-family: 'Bangers', cursive;
  margin-top: 40px;
  font-size: 68px;
  color: #641B2B;
  text-align: center;
}

.answer {
  font-family: 'Germania One', cursive;
  color: rgba(255, 255, 255, 0.85);
  margin: 12px auto -34px auto;
  text-align: center;
  font-size: 250px;
  text-transform: uppercase;
}

#spotify-player {
  display: none;
  margin: 40px auto 0 auto;
}

.tengil_text {
  position: absolute;
  bottom: 48px;
  right: 48px;
}

.flip-container {
  position: relative;
  margin: 0 auto;
  perspective: 1000px;
  transition: 0.6s;
  transform-style: preserve-3d;
}

.flip-container.flipped  {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  height: 416px;
  width: 518px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.is-hidden {
  display: none;
}

/* ---- MEDIA QUERIES ---- */
@media screen and (max-width: 767px) {
  .flip-container, .front, .back {
    width: 250px;
    height: 161px;
  }
  .primary-text {
    font-size: 32px;
  }
  .answer {
    font-size: 80px !important;
  }
}
@media screen and (max-width: 1149px) {
  .tengil_text {
    display: none;
  }
}

/*

PARTY TENGIL!

*/

.tengil-party {
  position: relative;
}

.tengil-party__head {
  position: absolute;
  max-width: 250px;
  top: -30px;
  left: -12px;
  z-index: 50;
}

.tengil-party__body {
  position: absolute;

}
.tengil-party--color {
  animation: rainbow-effect 450ms linear infinite;
}

.tengil-party--groove {
  animation: dance-effect 450ms linear infinite;
}

.tengil-party--groove-color {
  animation: dance-effect 450ms linear infinite, rainbow-effect 450ms linear infinite;
}

@keyframes dance-effect {
  0%, 100% {
    transform: translate(0%, 0%);
  }

  20% {
    transform: translate(12.5%, 12%);
  }

  40% {
    transform: translate(25%, 4%);
  }

  60% {
    transform: translate(25%, -4%);
  }

  80% {
    transform: translate(12.5%, -12%);
  }
}

@keyframes rainbow-effect {
  0%, 100% {
    fill: #7272E9;
  }

  20% {
    fill: #FF19EF;
  }

  40% {
    fill: #FFA500;
  }

  60% {
    fill: #FFFF00;
  }

  80% {
    fill: #80FF00;
  }
}

/*

END OF PARTY TENGIL! :/

*/

